<div class="js-sidebar l-sidebar l-sidebar--editor l-col is-open">
    <div class="l-sidebar__content">
        <div class="l-sidebar__head">
            <div id="" class="o-button">
                <input type="file" name="file" id="file" class="js-inputfile inputfile" />
                <label class="o-button__title" for="file">Choose a file</label>
            </div>
            <div><span class="js-filename">No file selected.</span></div>
        </div>
        <div class="l-sidebar__body l-sidebar__body--simplebar" id="" data-simplebar="init">
            <div class="simplebar-scroll-content" style="padding-right: 20px; margin-bottom: -20px;">
                <div class="simplebar-content" style="padding-bottom: 20px;">
                    <div class="l-sidebar__section">
                        <div class="l-sidebar__heading o-heading">
                            <span class="l-sidebar__heading-text o-heading__label">Suggestions</span>
                        </div>
                        <div class="js-errors">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="l-sidebar--placeholder"></div>